<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="overview">
      <ion-icon name="list"></ion-icon>
      <ion-label><div>{{ 'TABS.OVERVIEW.OVERVIEW' | translate }}</div></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label><div>{{ 'TABS.SETTINGS.SETTINGS' | translate }}</div></ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>